<% model ||= @records.model %>

<% if current_limits.exhausted?(model, :soft) %>
  <div class="pt-3">
    <%= render "shared/limits/warning", model: model %>
  </div>
<% end %>


<% if current_limits.exhausted?(model, :hard) %>
  <div class="pt-3">
    <%= render "shared/limits/error", model: model %>
  </div>
<% end %>
